.none {
  display: none !important;
}

.make-screenshot {
  width: 200px;
  height: 50px;
  position: fixed;
  left: 50%;
  bottom: 5vmin;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  font-weight: 600;
  color: blueviolet;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
  border: none;
  outline: none;
  color: aliceblue;
  cursor: pointer;
  background: blueviolet;
}
.make-screenshot:hover {
  background: aliceblue;
  color: blueviolet;
  mix-blend-mode: screen;
}

.preview {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.65);
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.preview__screenshot {
  position: fixed;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70%;
  top: 50%;
  opacity: 0;
  pointer-events: none;
  aspect-ratio: 16/9;
  -webkit-transition: -webkit-transform 0.15s ease;
  transition: -webkit-transform 0.15s ease;
  -o-transition: transform 0.15s ease;
  transition: transform 0.15s ease;
  transition: transform 0.15s ease, -webkit-transform 0.15s ease;
  -webkit-transform: translate(-50%, -50%) scale(0.9);
      -ms-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}
.preview img {
  width: 100%;
}
.preview.show {
  opacity: 1;
  pointer-events: auto;
}
.preview.show .preview__screenshot {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}
.preview #close-btn {
  position: absolute;
  right: -25px;
  color: aliceblue;
  cursor: pointer;
  font-size: 1.1rem;
}

.download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: blueviolet;
  text-decoration: none;
  width: 200px;
  height: 8vmin;
  background-color: aliceblue;
  font-size: 20px;
  font-weight: 600;
  z-index: 5;
  position: fixed;
  bottom: 5vmin;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.back {
  cursor: pointer;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 5;
  width: 30px;
  height: 30px;
}

.change {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 20px;
  position: fixed;
  height: 250px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.change__mask {
  width: 100%;
  height: 50px;
  background-color: brown;
  border-radius: 50%;
  cursor: pointer;
}